name: Despliegue de una página web estática (Separado por Jobs)

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # 1. Job de Preparación y Configuración
  setup-pages:
    name: Preparación de GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Setup Pages
        uses: actions/configure-pages@v5.0.0

      - name: Crear Artefacto de Despliegue
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: "."

  # 2. Job de Despliegue Final
  despliegue:
    name: Despliegue Final en Pages
    needs: setup-pages

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Despliegue
        id: deployment
        uses: actions/deploy-pages@v4.0.5
